fastapi
uvicorn[standard]

python-multipart
pydantic-settings
email-validator

sqlalchemy
psycopg2-binary
alembic

passlib[bcrypt]
python-jose[cryptography]

slowapi

openai

pypdf
python-docx

weasyprint
